extend _partials/layout.pug

block siteTitle
    != page.title + " · " + config.title

block mainContent
    include _mixins/post.pug
    include _mixins/gallery.pug
    +post(page)
    +gallery-ui-dom()
