.project-date {
    font-family: $fontFamily-sans;
    border-bottom: .2rem $color-secondary solid;
}
.project-info {
    font-size: $fontSize-small;
    font-weight: normal;
    font-style: italic;
}
