html {
    font-size: $fontSize-root;
}

body {
    background: $color-background;
    border-top: .2rem solid $color-primary;
    font-size: $fontSize-base;
    font-family: $fontFamily-serif;
    color: $color-primary;
}

.page-container {
    margin: 0 2rem;
    @include break(medium) {
      max-width: 50rem;
      margin: 0 auto;
    }
    @include break(large) {
      max-width: 70rem;
    }
}
