html {
    font-size: $fontSize-root;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: $color-background;
    border-top: .2rem solid $color-primary;
    font-size: $fontSize-base;
    font-family: $fontFamily-serif;
    color: $color-primary;
}

#content-wrapper {
    margin: 0 2rem;
    overflow-x: hidden;
    @include break(medium) {
        max-width: 40rem;
        margin: 0 auto;
    }
    @include break(large) {
        max-width: 60rem;
    }
}

.content-container {
    margin: 4rem 0;
}

ul {
    margin: 0;
}

li {
    margin-bottom: 2rem;
}
