::-moz-selection {
  background-color: $color-primary;
	color: $color-background;
	text-shadow: none;
}

::selection {
	background-color: $color-primary;
	color: $color-background;
	text-shadow: none;
}
