// Font Family
$fontFamily-body: Georgia, serif;
$fontFamily-header: 'Montserrat', sans-serif;

// Text font size
$fontSize-root: 62.5%;

$fontSize-base: 1.6rem;

$fontSize-bigger: $fontSize-base + .4rem;
$fontSize-big: $fontSize-base + .2rem;
$fontSize-small: $fontSize-base - .2rem;
$fontSize-smaller: $fontSize-base - .4rem;
