//- Hero sections
mixin heroConstruction()
    section.hero.col(data-transition="fadeIn")
        h1.hero-title
            = 'Under Works'
        = 'This site is currently a work in progress, please be careful or visit again soon!'
