//- Hero sections
mixin heroConstruction()
    section.hero.col(data-transition="fadeIn")
        h1.hero-title
            = 'My Work'
        = 'As a creative designer of art, I love the meticulous process of crafting carefully thought out designs.'
