doctype html
html(lang='en')
    head
        include head.pug
    body
        include symbols.html
        .page-container.row
            nav.col
                include navigation.pug
            main.row
                section.col
                    block container
                footer.col
                    include footer.pug
