doctype html
html(lang='en')
    head
        include head.pug
    body
        include symbols.html
        #content-wrapper.row
            header.row
                a.col.logo-link(href=url_for())
                    svg.svg-logo
                        use(xlink:href="#svg-logo")
                include navigation.pug
            main.content-container.row
                block heroContent
                section.col(data-transition="fadeIn")
                    block mainContent
                footer.col(data-transition="fadeIn")
                    include footer.pug
        include scripts.pug
