doctype html
html(lang='en')
    head
        include head.pug
    body
        .page-container
            nav
                include navigation.pug
            main
                section.row.col
                    block container
                footer
                    include footer.pug
