doctype html
html(lang='en')
    head
        include head.pug
    body
        nav
            include navigation.pug
        main.page-container
            .row.col
              block container
        footer
            include footer.pug
