doctype html
html(lang='en')
    head
        include head.pug
    body
        include symbols.html
        .page-container.row
            header.row
                a.col.logo-link(href=url_for())
                    svg.svg-logo
                        use(xlink:href="#svg-logo")
                include navigation.pug
                block heroContent
            main.row
                section.col
                    block container
                footer.col
                    include footer.pug
